.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/ProjectEvaluation/assistr.strings.v9.bin
.vs/ProjectEvaluation/assistr.projects.v9.bin
.vs/ProjectEvaluation/assistr.metadata.v9.bin
.vs/Assistr/v17/DocumentLayout.json
.vs/Assistr/v17/DocumentLayout.backup.json
.vs/Assistr/v17/.wsuo
.vs/Assistr/v17/.suo
.vs/Assistr/v17/.futdcache.v2
.vs/Assistr/FileContentIndex/d82557b4-1907-4034-aa3e-b22837ba0113.vsidx
.vs/Assistr/FileContentIndex/c7682ac4-2e2d-4170-9cd4-1186294bf289.vsidx
.vs/Assistr/FileContentIndex/aa5fc975-953f-4e39-bc14-1679d3cd5776.vsidx
.vs/Assistr/FileContentIndex/a175fe04-7ad0-4095-b650-83488109c567.vsidx
.vs/Assistr/FileContentIndex/74888649-b1cd-4ddc-b5cd-9a071beb9d47.vsidx
.vs/Assistr/FileContentIndex/3f75dba1-c4e0-4371-af4c-4080d4087468.vsidx
.vs/Assistr/FileContentIndex/3775175d-ff29-4d23-8f70-da679c0c54b8.vsidx
.vs/Assistr/FileContentIndex/1844315a-00fe-4b68-9c70-2a2868cf2df9.vsidx
.vs/Assistr/DesignTimeBuild/.dtbcache.v2
